<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Templates 101</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <!-- Container for the jumbotron and scrape button objects -->
  <div class="container">

    <div class = "row">

      <div class = 'col-12'>

        <div class="jumbotron text-center">
          <!-- Render our data -->
          <h2>Begin Scrape Countdown!</h2>

          <a class="btn btn-primary" href="/scrape" role="button">Scrape</a>

          </div>

      </div>

  </div>
  </div>
  <!-- End JumboTron -->
  
  <!-- Container for title and paragraph -->
  <div class = "container">

    <div class = "row">
      <div class = 'col-12'>

        <h3 class="text-center"> Latest Mars News </h3>

      </div>
    </div>

<!-- Row for the scraped news summary and title -->
    <div class = "row">
      <div class = "col-12">

        <!-- Scraped Title -->
        <h4 class = "text-center">
          {{mars_data.news_title}}
        </h4>

        <!-- Scraped Paragraph -->
        <p class = "text-center">
          {{mars_data.news_p}}
        </p>

      </div>
    </div>
  </div>
  <!-- End title and paragraph container -->

  <!-- Container for the Featured Image and Data Table -->
  <div class = "container">

    <!-- Row for image and table -->
    <div class = "row">

      <!-- 6 width column for the featured image -->
      <div class = "col-6">
        <img src = "{{mars_data.f_img}}" class = "img-fluid" alt="Featured Image">

      </div>

      <!-- 6 width column for the html table -->
      <div class = "col-6">
        {{ mars_data.facts_html }}
      </div>

    </div>
  </div>

  <!-- Container for Mars Hemispheres -->
  <div class = "container">

    <!-- Row for Hemispheres -->
    <div class ="row">

      <!-- 3 width column for Cerberus -->
      <div class = "col-3">

        <div class="card" style="width: 18rem;">
          <img src="{{mars_data.Hems[0]['image_url']}}" class="card-img-top" alt="Cerberus Picture" style="max-width: 100%;">
          <div class="card-body">
            <h5 class="card-title">{{mars_data.Hems[0]['title']}}</h5>
          </div>
        </div>

      </div>

      <!-- 3 width column for Schiaparelli -->
      <div class = "col-3">

        <div class="card" style="width: 18rem;">
          <img src="{{mars_data.Hems[1]['image_url']}}" class="card-img-top" alt="Schiaparelli Picture" style="max-width: 100%;">
          <div class="card-body">
            <h5 class="card-title">{{mars_data.Hems[1]['title']}}</h5>
          </div>
        </div>

      </div>

      <!-- 3 widht column for Syrtis -->
      <div class = "col-3">

        <div class="card" style="width: 18rem;">
          <img src="{{mars_data.Hems[2]['image_url']}}" class="card-img-top" alt="Syrtis Picture" style = "max-width: 100%;">
          <div class="card-body">
            <h5 class="card-title">{{mars_data.Hems[2]['title']}}</h5>
          </div>
        </div>

      </div>

      <!-- 3 width column for Valles -->
      <div class = "col-3">

        <div class="card" style="width: 18rem;">
          <img src="{{mars_data.Hems[3]['image_url']}}" class="card-img-top" alt="Valles Picture" style="max-width: 100%;">
          <div class="card-body">
            <h5 class="card-title">{{mars_data.Hems[3]['title']}}</h5>
          </div>
        </div>

      </div>

    </div>
  </div>



  

</body>

</html>
