<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Templates 101</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <!-- Container for the jumbotron and scrape button objects -->
  <div class="container">

    <div class = "row">

      <div class = 'col-12'>

        <div class="jumbotron text-center">
          <!-- Render our data -->
          <h2>Begin Scrape Countdown!</h2>

          <a class="btn btn-primary" href="/scrape" role="button">Link</a>

          </div>

      </div>

  </div>
  </div>
  <!-- End JumboTron -->
  
  <!-- Container for title and paragraph -->
  <div class = "container">

    <div class = "row">
      <div class = 'col-12'>

        <h3 class="text-center"> Latest Mars News </h3>

      </div>
    </div>

<!-- Row for the scraped news summary and title -->
    <div class = "row">
      <div class = "col-12">

        <!-- Scraped Title -->
        <h4 class = "text-center">
          {{mars_data.news_title}}
        </h4>

        <!-- Scraped Paragraph -->
        <p class = "text-center">
          {{mars_data.news_p}}
        </p>

      </div>
    </div>
  </div>
  <!-- End title and paragraph container -->

  <!-- Container for the Featured Image and Data Table -->
  <div class = "container">

    <!-- Row for image and table -->
    <div class = "row">

      <!-- 6 width column for the featured image -->
      <div class = "col-6">
        <img src = "{{mars_data.f_img}}" class = "img-fluid" alt="Featured Image">

      </div>
    </div>
  </div>



  

</body>

</html>
